<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="API-Key" value="89f453dd00317568c5655dddece7f2a7" />
    <add key="Language" value="de" /> <!--Empty means us. Example for country code is "de" for Germany-->
    <add key="City" value="Wülfershausen" />
  </appSettings>
</configuration>