<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="API-Key" value="89f453dd00317568c5655dddece7f2a7" />
    <!-- Leave this as is, if you dont know what you're doing -->
    <add key="Language" value="de" />
    <!--Empty means us. Example for country code is "de" for Germany-->
    <add key="City" value="Wülfershausen an der Saale" />
    <!-- Name of your City -->
  </appSettings>
</configuration>